# Ignorar el entorno virtual
env/

# Ignorar archivos de Python compilados
__pycache__/
*.pyc

# Ignorar dependencias de Node (frontend)
frontend/node_modules/

# Ignorar la carpeta de compilación de Next.js
frontend/.next/
frontend/out/

# Ignorar archivos de entorno (si los tienes)
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# Ignorar archivos temporales y de sistema
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
